# Configure your environment

## MySQL database parammeters
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress


## WordPress configurations
WORDPRESS_VERSION=php7.4 # https://hub.docker.com/_/wordpress
WORDPRESS_HOST=localhost
WORDPRESS_PORT=8000
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASS=password

## WebMail port
MAIL_PORT=8001

## PhpMyAdmin port
PMA_PORT=8002

# vim: ft=bash
